<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp | Details</title>
</head>
<body>
    <h1>Detail Page for <%=campground.title%></h1>
    <h1>Location: <%=campground.location%></h1>

    <footer>
        <a href="/campgrounds">Back to all campgrounds</a>
        <a href="/campgrounds/<%=campground._id%>/edit">Edit campground</a>
        <br>
        <br>
        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button>Delete Campground</button>
        </form>
    </footer>
</body>
</html>