<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Campground</title>
</head>
<body>
    <h1>Add a new campground</h1>
    <form action="/campgrounds" method="POST">
        <label for="title">Campground Name: </label>
        <input type="text" name="campground[title]" id="title" placeholder="Little Creek">
        <br><br>
        <label for="location">Location: </label>
        <input type="text" name="campground[location]" id="location" placeholder="Somewhere, TX">
        <br><br>
        <button>Add Campground</button>
    </form>
    <br><br>
    <footer>
        <a href="/campgrounds">Back to all campgrounds</a>
    </footer>
</body>
</html>